/* =========================================
  1. 기본 스타일(모바일)
========================================= */
.wrapper {
  width: 100%;
  padding: 0 16px 135px;
  background: #fcfcfc;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* =========================================
  2. 태블릿 사이즈 (744px 이상)
========================================= */
@media (width >= 744px) {
  .wrapper {
    padding: 0 24px 165px;
  }
}

/* =========================================
  3. PC 사이즈 (1024px 이상)
========================================= */
@media (width >= 1024px) {
  .wrapper {
    display: flex;
    justify-content: center;
    padding: 0 200px 140px;
  }

  .content {
    max-width: 1200px;
  }
}
