/* =========================================
  1. 기본 스타일(모바일)
========================================= */
.productWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.productHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 45px;
}

.searchWrapper {
  display: flex;
  gap: 14px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 42px;
}

.searchForm {
  width: 100%;
}

.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 8px;
  padding: 16px 0 32px;
}

/* =========================================
  2. 태블릿 사이즈 (744px 이상)
========================================= */
@media (width >= 744px) {
  .productHeader {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    width: 100%;
  }

  .titleWrapper {
    width: auto;
    padding: 0;
  }

  .searchWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    width: 536px;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
    padding: 24px 0 40px;
  }
}

/* =========================================
  3. PC 사이즈 (1024px 이상)
========================================= */
@media (width >= 1024px) {
  .searchWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    width: 618px;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 24px;
    padding: 24px 0 44px;
  }
}
